<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <style>
        .color0 {
            width: 5em;
            height: 5em;
            background-color: {{ color0 }};
        }
        .color1 {
            width: 5em;
            height: 5em;
            background-color: {{ color1 }};
        }
    </style>
</head>

<body>
    <table>
        {% for i in range(rows): %}
        <tr>
            {% for j in range(columns): %}
            <td>
                <div class="color{{ (i + j) % 2 }}"></div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>